# GLOBAL
DB_USERNAME=
DB_PASSWORD=

# SECURITY
GOOGLE_CLIENT_ID=
JWT_SECRET=

# USER
USER_SERVICE_URL=
USER_DB_NAME=

# DECK
DECK_SERVICE_URL=
DECK_DB_NAME=

# QUIZ
QUIZ_SERVICE_URL=
QUIZ_DB_NAME=

# FLASHCARDS 
FLASHCARDS_SERVICE_URL=
FLASHCARDS_DB_NAME=
