##############
### GLOBAL ###
##############

# client
FE_ORIGIN=

# postgresql
DB_URL=jdbc:postgresql://postgres:5432/
DB_USERNAME=admin
DB_PASSWORD=password

# rabbitmq
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672

# security
GOOGLE_CLIENT_ID=
JWT_SECRET=
JWT_EXPIRATION=86400000
JWT_ISSUER=bp-eduquiz-app

############
### USER ###
############

USER_SERVICE_URL=user-service:8080
USER_DB_NAME=user_service_db

############
### DECK ###
############

DECK_SERVICE_URL=deck-service:8080
DECK_DB_NAME=deck_service_db

############
### QUIZ ###
############

QUIZ_SERVICE_URL=quiz-service:8080
QUIZ_DB_NAME=quiz_service_db

##################
### FLASHCARDS ###
##################

FLASHCARDS_SERVICE_URL=flashcards-service:8080
FLASHCARDS_DB_NAME=flashcards_service_db
